#Actual
name: Python application

on:
  push:
    branches: [ "main" ]   # Trigger workflow on push to main branch

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        pip install -r requirements.txt

    - name: Run preprocessing
      run: |
        python src/preprocess_main.py

    - name: Train model
      run: |
        python src/train_model.py

    - name: Evaluate drift
      run: |
        python src/evaluate_drift.py

    - name: Run tests (Quality Gate)
      run: |
        pytest tests/
